.hotel{
    display: flex;
    gap: 2rem;
    font-weight: bold;
    font-size: 3rem;
    justify-content: center;
    color: var(--blackColor);
    text-transform: uppercase;
    font-style: italic;
    color:  rgb(42, 98, 11);
    margin-bottom: -2rem;
  }