.container1 {
    display: flex;
    justify-content: space-around;
    /* margin-left: 30px;
    margin-right: 30rem; */
    padding-left: 3rem;
    padding-right: 3rem;
    margin-top: 2rem;
  }
  
  .column {
    flex: 1;
    flex: 0 0 calc(33.33% - 20px);
  }
  
  .rounded-rectangle {
    position: relative;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  img {
    width: 100%;
    height: auto;
    border-radius: 15px;
    display: block;
  }
  
  .overlay {
    position: absolute;
    top: 75%;
    left: 0;
    width: 50%;
    height: 25%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    box-sizing: border-box;
    color: #fff;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .overlay-content {
    text-align: center;
  }
  
  .place-icon {
    font-size: 24px;
    padding: 0;
    margin-left: 0;
  }
  
  .place-name {
    margin: 0;
    flex: 1;
    font-size: .9rem;
  }
  
  .rating {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  
  .star-icon {
    font-size: 18px;
    margin-right: 5px;
  }

  .rounded-rectangle:hover {
    transform: scale(1.05); /* Increase size on hover */
  }
  
  .rounded-rectangle:hover .overlay {
    opacity: 1; /* Show overlay on hover */
  }
  