:root{
    --PrimaryColor:hsl(199, 100%, 33%);
    --SecondaryColor:hsl(187, 85%, 43%);
    --gradientColor: linear-gradient(to right, hsl(187, 85%, 43%), 
     hsl(199, 100%, 33%)); 
    --whiteColor: hsl(0, 0%, 100%);
    --blackColor: hsl(201, 33%, 16%);
    --textColor:hsl(240, 4%, 36%);
    --whiteColorDeam:hsl(0, 0%, 93%);
    --greyText: rgb(190, 190, 190);
    --inputColor:rgb(239, 239, 239);
    --bodyColor:rgb(240, 240, 246);
    --cardBG:rgb(225, 225, 235);
  }

.hero{
    display: flex;
    justify-content: space-between;

}

.left-h{
    padding: 1rem;
    padding-top: 1.5rem;
    flex:3;
    display: flex;
    gap:2rem;
    flex-direction: column;
}

.right-h{
    flex:1;
    margin-top: 2rem;
    height: 35.05rem;
    position: relative;
    background-color: transparent;
}

.the-best-ad{
    margin-top: 8rem;
    margin-left: 34rem;
    background-color: #363d42;
    border-radius: 4rem;
    width: fit-content;
    padding: 20px 13px;
    text-transform: uppercase;
    color: white;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.the-best-ad>span{
    z-index: 2;
}

.the-best-ad>div{
    position: absolute;
    background-color: rgb(170, 238, 139);
    width: 5.4rem;
    height: 80%;
    left: 8px;
    border-radius: 3rem;
    z-index: 1;
    opacity: 0.8;
}

video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.overlay3{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.4;
}

.hero-text{
    margin-top: 15rem;
    margin-left: 17rem;
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    text-transform: uppercase;
    font-size: 4.5rem;
    font-weight: bold;
    color: rgb(170, 238, 139);
    text-overflow: inherit;
}

.hero-image{
    position: absolute;
    top: 5rem;
    right: 2rem;
    left: 7rem;
    width: 30rem;
    height: 30rem;
    display: flex;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
}




